*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.main1{
    height: 100vh;
    width: 100%;
    background-color: #0081CF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main1 button{
    background-color: #C34A36;
}